<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>
<body>
{% for each in result %}
    <div class="row">
        <div class="col s6 offset-s3">
            {% if each.sentiment == 'positive' %}
                <div class="card blue lighten-3">
                    <div class="card-content black-text">
                        <span class="card-title">{{ each.twitter_handle }}</span>
                        <p>{{ each.tweets }}</p>
                    </div>
                    <div class="card-content black-text" style="font-weight: bold; font-size: 20px">
                        <p>{{ each.sentiment }}</p>
                    </div>
                </div>
            {% else %}
                <div class="card red lighten-3">
                    <div class="card-content black-text">
                        <span class="card-title">{{ each.twitter_handle }}</span>
                        <p>{{ each.tweets }}</p>
                    </div>
                    <div class="card-content black-text" style="font-weight: bold; font-size: 20px">
                        <p>{{ each.sentiment }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
</body>
</html>